<form>
    <div class="mb-3">
        <!--User name-->
        <div class="mb-3">
            <label for="username" class="form-label text-white">Name</label>
            <input type="text" class="form-control bg-dark text-white" name="username" id="username" [(ngModel)]="username"
            required minlength="4" maxlength="20" pattern="^[a-zA-Z0-9]+$" #usernameV="ngModel">
            <p *ngIf="usernameV.invalid && (usernameV.dirty || usernameV.touched)" class="text-danger"> 
                *Username must contain between 4 and 20 characters (letters and numbers).
            </p>
        </div>
        <!--User password-->
        <div class="mb-3">
            <label for="password" class="form-label text-white">Password</label>
            <input type="password" class="form-control bg-dark text-white" name="password" id="password" [(ngModel)]="password"
             required minlength="4" maxlength="25" pattern="^[a-zA-Z0-9%~!@#=&_:;,`\$\^\*\+\|]+$" #passwordV="ngModel">
             <p *ngIf="passwordV.invalid && (passwordV.dirty || passwordV.touched)" class="text-danger"> 
                *Password must contain between 4 and 25 characters (letters, numbers and special 
                characters: %~!@#=&_:;,`$^*+|).
             </p>
        </div>
        <!--Buttons-->
        <div class="d-flex justify-content-center">
            <button [disabled]="usernameV.invalid || passwordV.invalid" class="btn btn-outline-primary"
                (click)="loginUser()" *ngIf="childComponentLogin===true"> 
            Login
            </button>
            <button [disabled]="usernameV.invalid || passwordV.invalid" class="btn btn-outline-primary"
                (click)="registerUser()" *ngIf="childComponentLogin===false"> 
            Register
            </button>
        </div>
    </div>
</form>